.container {
    height: initial;
}

#book-counter {
    font-weight: normal;
}

.show-books-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.book-item {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .4);
    padding: 16px 32px;
    border-radius: 8px;
    gap: 8px;
    font-size: 16px;
    cursor: pointer;
}

.book-item:hover {
    background-color: rgba(0, 0, 0, .8);
}

.book-item small {
    color: rgba(255, 255, 255, .6);
    font-size: 12px;
}
