.container {
    height: initial;
}

#book-counter {
    font-weight: normal;
}

.show-books-search {
    display: flex;
    padding: 8px;
    justify-content: center;
    gap: 8px;
}

.show-books-search input {
    border-radius: 8px;
    font-size: 16px;
    padding: 4px 8px;
}

.show-books-search #search-button {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    cursor: pointer;
}

.show-books-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.book-item {
    display: flex;
    background-color: rgba(0, 0, 0, .4);
    padding: 16px 32px;
    border-radius: 8px;
    gap: 8px;
    justify-content: space-between;
    font-size: 16px;
}

.book-item .book-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-item .book-actions {
    display: flex;
    align-items: center;
    gap: 4px;
}

.book-item .book-actions .action-button {
    cursor: pointer;
    padding: 4px;
}

.book-item .book-actions .action-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px;
    border-radius: 4px;
}

.book-item:hover {
    background-color: rgba(0, 0, 0, .8);
}

.book-item small {
    color: rgba(255, 255, 255, .6);
    font-size: 12px;
}
