main .content .create-book-container {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    gap: 8px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 16px;
}

main .content .create-book-container .form-item {
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    font-size: 16px;
    justify-content: center;
}

.form-item input {
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.form-item .form-button {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

.form-item .form-button:hover {
    background-color: rgba(0, 0, 0, .8);
}
